<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IJobProjectUserService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8730/JobProject.Service/JobProjectUserService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJobProjectUserService"
                contract="JobProjectClientServiceReference1.IJobProjectUserService"
                name="BasicHttpBinding_IJobProjectUserService" />
        </client>
    </system.serviceModel>
</configuration>