@model JobMeHomePage.Models.VMWorkHoursJobCategory

@{
    ViewBag.Title = "CreateJobPost";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}

<h1>Opret Jobannoce</h1>

<form action="/Company/CreateJobPost" method="post">
    <div class="form-group">
        <label for="titel">Titel:</label>
        <input type="text" name="Title" class="form-control" id="titel"/>
    </div>    
    <div class="form-group">
        <label for="jobTitel">Job titel:</label>
        <input type="text" name="JobTitle" class="form-control" id="jobTitel"/>
    </div>
    <div class="form-group">
        <label for="description">Job beskrivelse:</label>
        <textarea name="Description" class="form-control" id="description" placeholder="Lav en kort beskrivelse af jobet..."></textarea>
    </div>
    
    <div class="row">
        <div class="col-sm-6">
            <label for="startDate">Start Dato:</label>
            <input type="date" name="StartDate" class="form-control" id="startDate"/>
        </div>
        <div class="col-sm-6">
            <label for="endDate">Slut Dato:</label>
            <input type="date" name="EndDate" class="form-control" id="endDate"/>
        </div>
    </div>
    <div class="form-group">
        <label for="Address">Adresse</label>
        <input type="text" name="Address" class="form-control" id="address"/>
    </div>
    <div class="form-group">
        <label for="WorkHours">Arbejdstid:</label>
        <select class="form-control" name="WorkHours">
            @foreach (var workHours in Model.WorkHoursList)
            {
                <option value="@workHours.Id">@workHours.Type</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="JobCategory">Job kategori:</label>
        <select class="form-control" name="JobCategory">
            @foreach (var jobCategory in Model.JobCategoryList)
            {
                <option value="@jobCategory.Id">@jobCategory.Title</option>
            }
        </select>
    </div>
    <input type="hidden" name="Company" value="" />
    <button type="submit" class="btn btn-default btn-blue pull-right">Submit</button>
            

</form>
