
@{
    ViewBag.Title = "JobPost";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}



<!--#region jobPost infomation-->
<div class="row">
	<div class="col-sm-9" id="jobPostLeftContent">
		<div class="row">
			<div class="col-sm-8">
				<!-- Basic contact info and jobpost info-->
				<p id="jobPostTitle">Job titlen/beskrivelse</p>
				<div class="jobPostBasicInfo">Annonce oprettet af (virksomhed) i (katagorien)</div>
				<div class="jobPostBasicInfo">Ansættelse: Fultid</div>
				<div class="jobPostBasicInfo">Ansøgnings periode: 15/11-2017 - 31/11-2017</div>
				<div class="jobPostBasicInfo">Lokation: Østerbro 3H 1.8, 9000 Aalborg</div>

			</div>
			<div class="col-sm-4">
				<!--Profile image from the company-->
				<img src="https://www.ucn.dk/Files/Billeder/ucn/Om-UCN/Presse/ucn-logo-sort-500px.png" id="jobPostCompanyPic" height="75"/>
			</div>
		</div>
	</div>
<!--#endregion-->


<!--#region jobPost right infomation-->
	<div class="col-sm-3" id="jobPostRightContent">
		hej
	</div>
</div>
<!--#endregion-->

