<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=kraka.ucn.dk;Database=dmaa0916_201116;User Id=dmaa0916_201116; Password=Password1!;" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IApplierService" />
      </basicHttpBinding>
    </bindings>
    
    <services>
      <service name="WCFJobMeService.CompanyService">
        <endpoint address="" binding="basicHttpBinding" contract="WCFJobMeService.ICompanyService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8723/Design_Time_Addresses/WCFJobMeService/Service1/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFJobMeService.ApplierService">
        <endpoint address="" binding="basicHttpBinding" contract="WCFJobMeService.IApplierService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8723/Design_Time_Addresses/WCFJobMeService/ApplierService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFJobMeService.JobPostService">
        <endpoint address="" binding="basicHttpBinding" contract="WCFJobMeService.IJobPostService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8723/Design_Time_Addresses/WCFJobMeService/JobPostService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFJobMeService.JobCVService">
        <endpoint address="" binding="basicHttpBinding" contract="WCFJobMeService.IJobCVService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8723/Design_Time_Addresses/WCFJobMeService/JobCVService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFJobMeService.JobApplicationService">
        <endpoint address="" binding="basicHttpBinding" contract="WCFJobMeService.IJobApplicationService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8723/Design_Time_Addresses/WCFJobMeService/JobApplicationService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
</configuration>
