<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=kraka.ucn.dk;Database=dmaa0916_201116;User Id=dmaa0916_201116; Password=Password1!;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IApplierService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFJobMe/ApplierService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApplierService"
        contract="ApplierServiceReference.IApplierService" name="BasicHttpBinding_IApplierService" />
    </client>
    <services>
      <service name="WCFJobMe.CompanyService">
        <endpoint address="" binding="basicHttpBinding" contract="WCFJobMe.ICompanyService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/WCFJobMe/Service1/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFJobMe.ApplierService">
        <endpoint address="" binding="basicHttpBinding" contract="WCFJobMe.IApplierService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFJobMe/ApplierService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFJobMe.SecureService" behaviorConfiguration="SecureServiceBehavior"> 
        <endpoint address="SecureService" binding="wsHttpBinding" contract="WCFJobMe.ISecureService" bindingConfiguration="SecureBindingHttps">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WCFJobMe/SecureService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          
          <behavior name="SecureServiceBehavior">

            <serviceCredentials>
              <serviceCertificate x509FindType="FindByThumbprint" findValue="c9c9366de42f8dc2875b8139fb17f8aba9f5ba66" storeName="My" storeLocation="LocalMachine">

              </serviceCertificate>
              <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="CredentialValidator, AuthenticationTest" />

            </serviceCredentials>
            <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="AuthenticationTest.RoleAuthorizationManager,AuthenticationTest" />
          </behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="SecureBindingHttps">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="Certificate" />

          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    
    <netTcpBinding>
      <binding name="SecureBindingTCP">
        <security mode="TransportWithMessageCredential">
          <message clientCredentialType="UserName" />
          <transport clientCredentialType="Certificate" />
        </security>
      </binding>
    </netTcpBinding>
  </system.serviceModel>
</configuration>