@model JobMeHomePage.Models.VMJobCVAndApplication

<!-- #region Deployement-->
<div class="col-sm-12" id="experience-col">

    <div class="row" id="profileInfoRight">
        <div class="col-sm-12">
            <p id="ApplicationHeadline">Personlig Ansøgning</p>
        </div>

		@foreach (var jobApplication in Model.jobApplicationList)
		{
			<div class="applicationTitle">I am</div>
			<div class="applicationDescription">Lorem ipsum dolor sit amet, tortor arcu adipiscing mi etiam mi, scelerisque eget, libero dolor leo vitae semper, in iaculis wisi ac at justo. Sollicitudin pulvinar id, enim massa, vestibulum amet vel luctus. Dignissim euismod lobortis vestibulum massa, proin ipsum ut velit, mollis mauris arcu elementum id duis justo, turpis ornare est dolor. Leo at litora pellentesque mauris in</div>
		}

        <div class="applicationTitle">I am</div>
        <div class="applicationDescription">Lorem ipsum dolor sit amet, tortor arcu adipiscing mi etiam mi, scelerisque eget, libero dolor leo vitae semper, in iaculis wisi ac at justo. Sollicitudin pulvinar id, enim massa, vestibulum amet vel luctus. Dignissim euismod lobortis vestibulum massa, proin ipsum ut velit, mollis mauris arcu elementum id duis justo, turpis ornare est dolor. Leo at litora pellentesque mauris in</div>

        <div class="applicationTitle">I can</div>
        <div class="applicationDescription">Lorem ipsum dolor sit amet, tortor arcu adipiscing mi etiam mi, scelerisque eget, libero dolor leo vitae semper, in iaculis wisi ac at justo. Sollicitudin pulvinar id, enim massa, vestibulum amet vel luctus. Dignissim euismod lobortis vestibulum massa, proin ipsum ut velit, mollis mauris arcu elementum id duis justo, turpis ornare est dolor. Leo at litora pellentesque mauris in</div>
        
        <div class="applicationTitle">therefore</div>
        <div class="applicationDescription">Lorem ipsum dolor sit amet, tortor arcu adipiscing mi etiam mi, scelerisque eget, libero dolor leo vitae semper, in iaculis wisi ac at justo. Sollicitudin pulvinar id, enim massa, vestibulum amet vel luctus. Dignissim euismod lobortis vestibulum massa, proin ipsum ut velit, mollis mauris arcu elementum id duis justo, turpis ornare est dolor. Leo at litora pellentesque mauris in</div>


        </div>

    <div class="row" id="seperator">
        <div class="col-sm-12"></div>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <button type="button" class="btn btn-success" id="saveButton">Gem oplysninger</button>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-warning" id="saveButton">Annuller/Gå tilbage</button>
        </div>
    </div>

    </div>
        <!--#endregion-->
