<div class="col-sm-12">
    <p id="applicationTitle">Titel</p>
</div>

<div class="row" id="applicationMargin">
    <div class="col-sm-6">
        <div class="ApplicationDescription">Description</div>
    </div>

</div>