
@{
	ViewBag.Title = "JobCV";
	Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<!-- #region ContactInfoAndImage -->
<!-- JobCV design and creationg -->
<div class="row">
	<div class="col-sm-4" id="profile-col">
		<img id="profileImage" src="http://i.dailymail.co.uk/i/pix/2017/04/20/13/3F6B966D00000578-4428630-image-m-80_1492690622006.jpg" class="img-circle img-responsive" width="300" height="300">
		<div class="firstName" align="center">Frans</div>
		<div class="lastName" align="center">Jakobsen</div>

		<!-- Contact information about the profile. -->
		<div class="profileInfoLeft">
			<div class="row">
				<div class="col-sm-12">
					<p>
						<span class="glyphicon glyphicon-envelope"></span>
						Kontakt info
					</p>
				</div>
				<div class="row" id="infoContent">
					<div class="col-sm-6">
						<p id="infoContentBold">Nationalitet</p>
					</div>
					<div class="col-sm-6">
						<p>Danmark</p>
					</div>
				</div>
				<div class="row" id="infoContent">
					<div class="col-sm-6">
						<p id="infoContentBold">Fødselsdag</p>
					</div>
					<div class="col-sm-6">
						<p>23/05-1995</p>
					</div>
				</div>
				<div class="row" id="infoContent">
					<div class="col-sm-6">
						<p id="infoContentBold">Adresse</p>
					</div>
					<div class="col-sm-6">
						<p>Østerbro 3H 1.8</p>
					</div>
				</div>
				<div class="row" id="infoContent">
					<div class="col-sm-6">
						<p id="infoContentBold">Mobil</p>
					</div>
					<div class="col-sm-6">
						<p>12345678</p>
					</div>
				</div>
			</div>
		</div>
		<!-- #endregion -->
<!-- #region Biografy -->
		<div class="profileInfoLeft">
			<div class="row">
				<div class="col-sm-12">
					<p>
						<span class="glyphicon glyphicon-user"></span>
						Biografi
					</p>
				</div>
				<div class="row" id="infoContent">
					<div class="col-sm-11">
						<p>Jeg er en meget gammel mand med mange små ting jejg godt kan lide. Det er super fedt når lortet bare virker</p>
					</div>

				</div>

			</div>
		</div>
		<!-- #endregion -->
<!-- #region languages -->
		<div class="profileInfoLeft">
			<div class="row">
				<div class="col-sm-12">
					<p>
						<span class="glyphicon glyphicon-globe"></span>
						Sprog
					</p>
				</div>
				<div class="row" id="infoContent">
					<div class="col-sm-6">
						<p id="infoContentBold">Dansk</p>
					</div>
					<div class="col-sm-6">
						<p>Moderssprog</p>
					</div>
				</div>
				<div class="row" id="infoContent">
					<div class="col-sm-6">
						<p id="infoContentBold">Engelsk</p>
					</div>
					<div class="col-sm-6">
						<p>Flydende</p>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- #endregion -->

<!-- #region Deployement-->
	<div class="col-sm-8" id="experience-col">

		<div class="row" id="profileInfoRight">
			<div class="col-sm-12">
				<p id="CVHeadlinge">Erhvervserfaring</p>
			</div>

			<div class="companyName">Yellow Agency</div>
			<div class="DateAndPosition">2013.02.03 - Present | <div id="boldText">Marketing Specialist</div></div>
			<div class="jobDescription">Lorem ipsum dolor sit amet, tortor arcu adipiscing mi etiam mi, scelerisque eget, libero dolor leo vitae semper, in iaculis wisi ac at justo. Sollicitudin pulvinar id, enim massa, vestibulum amet vel luctus. Dignissim euismod lobortis vestibulum massa, proin ipsum ut velit, mollis mauris arcu elementum id duis justo, turpis ornare est dolor. Leo at litora pellentesque mauris in</div>

			<div class="companyName">Yellow Agency</div>
			<div class="DateAndPosition">2013.02.03 - Present | <div id="boldText">Marketing Specialist</div></div>
			<div class="jobDescription">Lorem ipsum dolor sit amet, tortor arcu adipiscing mi etiam mi, scelerisque eget, libero dolor leo vitae semper, in iaculis wisi ac at justo. Sollicitudin pulvinar id, enim massa, vestibulum amet vel luctus. Dignissim euismod lobortis vestibulum massa, proin ipsum ut velit, mollis mauris arcu elementum id duis justo, turpis ornare est dolor. Leo at litora pellentesque mauris in</div>

			<div class="companyName">Yellow Agency</div>
			<div class="DateAndPosition">2013.02.03 - Present | <div id="boldText">Marketing Specialist</div></div>
			<div class="jobDescription">Lorem ipsum dolor sit amet, tortor arcu adipiscing mi etiam mi, scelerisque eget, libero dolor leo vitae semper, in iaculis wisi ac at justo. Sollicitudin pulvinar id, enim massa, vestibulum amet vel luctus. Dignissim euismod lobortis vestibulum massa, proin ipsum ut velit, mollis mauris arcu elementum id duis justo, turpis ornare est dolor. Leo at litora pellentesque mauris in</div>

			<div class="companyName">Yellow Agency</div>
			<div class="DateAndPosition">2013.02.03 - Present | <div id="boldText">Marketing Specialist</div></div>
			<div class="jobDescription">Lorem ipsum dolor sit amet, tortor arcu adipiscing mi etiam mi, scelerisque eget, libero dolor leo vitae semper, in iaculis wisi ac at justo. Sollicitudin pulvinar id, enim massa, vestibulum amet vel luctus. Dignissim euismod lobortis vestibulum massa, proin ipsum ut velit, mollis mauris arcu elementum id duis justo, turpis ornare est dolor. Leo at litora pellentesque mauris in</div>

			<!--#endregion-->
<!-- #region Education-->
			<div class="col-sm-12">
				<p id="CVHeadlinge">Uddannelse</p>
			</div>

			<div class="row" id="educationMargin">
				<div class="col-sm-6">
					<div class="edicatopnStatus">GRADUERET</div>
					<div class="educationPlaceAndTitle">University College Nordjylland</div>
					<div class="educationPlaceAndTitle">Computer Science</div>

				</div>
				<div class="col-sm-6">
					<div class="educationTimeDate">2013 - nu</div>
					<div class="educationResult">Karakter: 10,5</div>
				</div>
			</div>

			<div class="row" id="educationMargin">
				<div class="col-sm-6">
					<div class="edicatopnStatus">GRADUERET</div>
					<div class="educationPlaceAndTitle">University College Nordjylland</div>
					<div class="educationPlaceAndTitle">Computer Science</div>

				</div>
				<div class="col-sm-6">
					<div class="educationTimeDate">2013 - nu</div>
					<div class="educationResult">Karakter: 10,5</div>
				</div>
			</div>

			<div class="row" id="educationMargin">
				<div class="col-sm-6">
					<div class="edicatopnStatus">GRADUERET</div>
					<div class="educationPlaceAndTitle">University College Nordjylland</div>
					<div class="educationPlaceAndTitle">Computer Science</div>

				</div>
				<div class="col-sm-6">
					<div class="educationTimeDate">2013 - nu</div>
					<div class="educationResult">Karakter: 10,5</div>
				</div>
			</div>
			<!--#endregion-->
<!--#region certificates and more-->
			<div class="col-sm-12">
			<p id="CVHeadlinge">Certifikater og andet</p>
		</div>

			<div class="row" id="certificateMargin">
				<div class="col-sm-10">
					<p>Førstehjælpsbevis</p>
				</div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-blue" id="seeCertificat">Se</button>
				</div>
			</div>

			<div class="row" id="certificateMargin">
				<div class="col-sm-10">
					<p>Adobe Primere Pro Kursus</p>
				</div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-blue">Se</button>
				</div>
			</div>

			<div class="row" id="certificateMargin">
				<div class="col-sm-10">
					<p>MOS Certifikation</p>
				</div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-blue">Se</button>
				</div>
			</div>

			<div class="row" id="educationMargin">
				<div class="col-sm-10">
					<button type="button" class="btn btn-blue">Tilføj nyt certifikat</button>
				</div>
				<div class="col-sm-2">
				
				</div>
			</div>
		</div>
		<div class="row" id="seperator">
			<div class="col-sm-12"></div>
		</div>
		<div class="row">

			<div class="col-sm-6">
				<button type="button" class="btn btn-success" id="saveButton">Gem oplysninger</button>
			</div>
			<div class="col-sm-6">
				<button type="button" class="btn btn-warning" id="saveButton">Annuller/Gå tilbage</button>
			</div>
		</div>
	</div>
</div>

<!--#endregion-->
