<form action="/Company/_CreateCompany" method="post">

    <div class="form-group">
        <label for="email">Email addresse:</label>
        <input type="email" name="Email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="pwd">Kodeord:</label>
        <input type="password" name="Password" class="form-control" id="password">
    </div>
    <div class="form-group">
        <label for="pwd">Gentag kodeord:</label>
        <input type="password" name="PasswordControl" class="form-control" id="passwordControl">
    </div>

   
        <div class="checkbox col-sm-10">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <div class=" col-sm-2">
            <button type="submit" class="btn btn-default btn-blue pull-right">Opret</button>
            </div>
      
</form>
