<form action="/Applier/_Login" method="post">

    <div class="form-group">
        <label for="email">Email addresse:</label>
        <input type="email" name="Email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="pwd">Kodeord:</label>
        <input type="password" name="Password" class="form-control" id="password">
    </div>
    
    <div class=" col-sm-2">
        <button type="submit" class="btn btn-default btn-blue pull-right">Submit</button>
    </div>

</form>

